<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:ws="http://jax-ws.dev.java.net/spring/core"
       xmlns:wss="http://jax-ws.dev.java.net/spring/servlet"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
       http://jax-ws.dev.java.net/spring/core
        http://jax-ws.dev.java.net/spring/core.xsd
        http://jax-ws.dev.java.net/spring/servlet
        http://jax-ws.dev.java.net/spring/servlet.xsd"
>
 	<!-- Configuracao do webservice e seu contexto 
 		http://localhost:9090/springwebservice/services/exemplo?wsdl
 	-->
    <wss:binding url="/services/exemplo">
        <wss:service>
            <ws:service bean="#exemploWs"/>
        </wss:service>
    </wss:binding>
    
  <!-- Configuracao do webservice e seu contexto 
  		http://localhost:9090/springwebservice/services/calculadora?wsdl
  -->
    <wss:binding url="/services/calculadora">
    	 <wss:service>
        	<ws:service bean="#calculadoraWs"/>
        </wss:service>
    </wss:binding>

    <!-- Declaracao das classes que implementam o WS-->
    <bean id="exemploWs" class="br.com.carlos.exemplo.ExemploWs" />
    <bean id="calculadoraWs" class="br.com.carlos.exemplo.CalculadoraWs" />
    
</beans>